/* Styles généraux pour toute la page */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #4bc5c5, #e4e152); /* Dégradé de couleurs vives */
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
}

/* Animation pour un fond dynamique */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 30vh; /* Diminue la hauteur */
    margin-top: 50px; /* Ajuste si besoin */
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    color: white;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center; /* Centre le texte */
    height: 50vh; /* Ajuste la hauteur */
}

main h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    color: white;
    margin-top: 20px;
}

/* Conteneur du bouton */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Ajuste l'espacement au besoin */
}

/* Bouton Accueil */
button {
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #00c6ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: #ff005c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent pour le footer */
    padding: 10px 0;
}

footer a {
    color: #00c6ff;
    text-decoration: none;
}

footer a:hover {
    color: #ff005c;
}

main p {
    font-size: 1.5rem;
    color: rgb(7, 19, 179);
    margin-bottom: 30px;
    padding-top: 50px; /* Ajoute un espace intérieur au-dessus */
    text-align: center;
}
